USE [master]
GO
/****** Object:  Database [BULID_PROJECT]    Script Date: 7/30/2024 3:36:22 PM ******/
CREATE DATABASE [BULID_PROJECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BULID_PROJECT', FILENAME = N'C:\Users\sherry\Pictures\Desktop\MSSQL16.SHERRY\MSSQL\DATA\BULID_PROJECT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BULID_PROJECT_log', FILENAME = N'C:\Users\sherry\Pictures\Desktop\MSSQL16.SHERRY\MSSQL\DATA\BULID_PROJECT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BULID_PROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BULID_PROJECT]
GO
/****** Object:  Table [dbo].[HealthCareProvider]    Script Date: 7/30/2024 3:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthCareProvider](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[Gender] [varchar](10) NULL,
	[DOB] [date] NULL,
	[Adress] [varchar](255) NULL,
	[City] [varchar](255) NULL,
	[State] [varchar](50) NULL,
	[ZIP] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[NPI] [varchar](50) NULL,
	[HospitalId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_HealthCareProvider] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthCareProviderRole]    Script Date: 7/30/2024 3:36:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthCareProviderRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](100) NULL,
 CONSTRAINT [PK_HealthCareProviderRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospital]    Script Date: 7/30/2024 3:36:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospital](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HospitalName] [varchar](255) NOT NULL,
	[Adress] [varchar](255) NULL,
	[City] [varchar](255) NULL,
	[State] [varchar](50) NULL,
	[ZIP] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
 CONSTRAINT [PK_Hospital] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDCIAL_CLAIM]    Script Date: 7/30/2024 3:36:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDCIAL_CLAIM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Patient] [varchar](250) NULL,
	[Health_Care_Provider] [varchar](250) NULL,
	[NDC] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Total_Amount] [int] NULL,
	[Days_Supply] [varchar](250) NULL,
	[Prescriton_number] [int] NULL,
 CONSTRAINT [PK_MEDCIAL_CLAIM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 7/30/2024 3:36:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [varchar](250) NOT NULL,
	[Last_name] [varchar](250) NOT NULL,
	[DOB] [date] NULL,
	[Gender] [varchar](50) NULL,
	[MRN] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[InsuranceID] [varchar](50) NULL,
	[Hospital] [varchar](50) NULL,
 CONSTRAINT [PK_PATIENT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HealthCareProvider]  WITH CHECK ADD  CONSTRAINT [FK_HealthCareProvider_Hospital] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospital] ([Id])
GO
ALTER TABLE [dbo].[HealthCareProvider] CHECK CONSTRAINT [FK_HealthCareProvider_Hospital]
GO
USE [master]
GO
